[submodule "kubecoin-infra"]
	path = kubecoin-infra
	url = https://github.com/Narendra-Geddam/Kubernetes-Cluster.git
[submodule "kubecoin-project"]
	path = kubecoin-project
	url = https://github.com/devops25NG/kubecoin.git
[submodule "kubecoin-backend"]
	path = kubecoin-backend
	url = https://github.com/Narendra-Geddam/kubecoin-backend-ms.git
[submodule "kubecoin-frontend"]
	path = kubecoin-frontend
	url = https://github.com/Narendra-Geddam/kubecoin-frontend-ms.git
[submodule "kubecoin-helm-charts"]
	path = kubecoin-helm-charts
	url = https://github.com/Narendra-Geddam/kubecoin-helm.git
